/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: #f9f9f9;
}

h1,
p {
    font-family: Quicksand, Roboto, sans-serif;
    font-weight: 500;
    letter-spacing: normal;
}

h1 {
    margin: 0 0 16px;
}
